# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Executable Video Tools (Too large for GitHub)
yt-dlp.exe
ffmpeg.exe
ffprobe.exe

# Secret API Keys (CRITICAL: Never upload this!)
.env

# Downloaded and Generated Videos
downloads/
cookies.txt